<!doctype html>
<html lang="en"ng-app="LunchCheck">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <title>Lunch Checker</title>
    <style>
        .message { 
            font-size: 1.3em; 
            font-weight: bold; 
        }
        .stew {
            width: 90px;
        }
        .much {
        background: rgb(188, 217, 224);
        padding: 15px 10px;
        border: none;
        outline: none;
        font-size: 20px;
        border-radius: 5px;
        cursor: pointer;
}
    </style>
</head>
<body>
    <div ng-controller="LunchCheckController">
        <form>
            <input class="stew" type="text" ng-model="name" placeholder="list comma separated dishes you usually have for lunch" ng-model="model"/>
            <br><br>
            <button ng-click="displayPhase()" class="much">Check If Too Much</button>
        </form>
        {{message}}
    </div>
    <script ng-src="angular.min.js"></script>
</body>
</html>



