<!doctype html>
<html lang="en" ng-app="LunchCheck">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <title>Lunch Checker</title>
    
    <style>
        .message { 
            font-size: 1.3em; font-weight: bold; 
        }

    </style>
  </head>
<body>
    <div class="container">
        <h1>Lunch Checker</h1>
    <div ng-controller="LunchCheckController">
        <div class="form-group">
            <input id="lunch-menu" type="text"
            placeholder="list comma separated dishes you usually have for lunch"
            class="form-control" ng-model="name">
        </div>
        <div class="form-group">
            <button class="btn btn-default" ng-click="food()">Check If Too Much</button>

        </div>
        <div class="form-group message">
            <br>
            {{message}}
            <br>
           Ever since I started this course, the way I view things in programming languages changed.<br>
            This is my first angular job carried out.<br>
            I can't wait to do more.<br>
            So, please find the attached codes to grade <br>
        </div>
    </div>
    </div>
    <script ng-src="angular.min.js"></script>

</body>
</html>